<div style="background: linen">
</div>
<div class="container">
    <div class="media  ">
        <div class="row myDetailImage">
            <div class="col-md-6  marginkung" >
                <div class="media-left heightImage">
                    <p ng-repeat="img in $ctrl.getProductId.imageForms track by $index">
                        <img class="mariImage" ng-src="{{img.imageUrl}}"/>
                    </p>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="media-body ">
                    <p class="myThuocDetail">{{$ctrl.getProductId.name | uppercase }}</p>

                    <div>
                        <uib-accordion>
                            <div uib-accordion-group class="panel-default chitietsanpham" is-open="true">
                                <uib-accordion-heading>
                                    <span> <strong>CHI TIẾT SẢN PHẨM</strong></span>
                                    <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </uib-accordion-heading>
                                <ul>
                                    <li>Hàng chính hãng</li>
                                    <li>{{$ctrl.getProductId.price | currency}}</li>
                                    <li>{{$ctrl.getProductId.status | filterStatus}}</li>
                                    <li>Màu:{{$ctrl.getProductId.color}}</li>
                                    <li>Xuất Xứ: {{$ctrl.getProductId.madeIn}}</li>
                                    <li><input type="button" value="+" ng-click="$ctrl.myFunT()"/>
                                        <input type="button" value="-" ng-click="$ctrl.myFunG()"/>
                                        <span>SỐ LƯỢNG: {{$ctrl.count}}</span>
                                        <button class="btn btn-default " style="margin-left: 30px" data-ui-sref="order"> Đặt Mua</button>
                                    </li>

                                </ul>
                            </div>
                        </uib-accordion>
                    </div>
                    <br>
                    <p align="justify">Thùng GIVI E43NML (mẫu mới 2017) (dung tích: 43lit): Là mẫu thùng GIVI mới nhất
                        hiện nay năm
                        2017.
                        Thùng được trang bị với bộ khóa rất chắc chắn nên rất toàn.
                        Ngoài ra thùng còn đựng vừa cả máy tính LAPTOP hoặc 2 mũ 3/4 lớn cho người sử dụng.</p>
                    <br>


                </div>
            </div>

        </div>
    </div>
    <h2 style="text-align: center">SẢN PHẨM GỢI Ý</h2>
    <div class="col-sm-4  " ng-repeat="product in $ctrl.products.data | limitTo :6 ">
        <div class="thumbnail boxModel hover01 column">
            <figure>
                <p ng-repeat="img in product.items track by $index  ">
                    <img ng-src="{{img.imageUrl  }}"/>
                </p>
            </figure>
            <h4 class="chitiet"><a data-ui-sref="detail({id: product.id})">Xem Chi Tiết</a></h4>
            <div class=" caption ">
                <h3 class="id"><span><a class="myfont"
                                        data-ui-sref="detail({id: product.id})">{{product.name}}</a></span></h3>
                <p class="money">{{product.price | currency}}</p>
            </div>
        </div>
    </div>


</div>
