<div class="container " >
    <div class=" brRight marginT15"  >
         <div class="panel-group"  >
         <div class="panel panel-default">
                  <div class="panel-heading"><h4 class="panel-title"><a class="" data-toggle="collapse"
                                                                                      data-parent="#accordion" href="#" >
                    <span class="pull-right" >
                    </span><strong>Phụ Kiện Thùng motor, xe máy</strong></a></h4>
                    </div>
                        <div id="collapseOne0" class="panel-collapse collapse in" ng-repeat="category in $ctrl.getCategories">
                          <ul class="panel-body coller">
                             <li><a class=""  data-ui-sref="detailCategory({id: category.id})">{{category.name}}</a></li>

                           </ul>
                        </div>
         </div>
         </div>
    </div>
</div>