<div class="container">
    <div class="row">
        <div class="panel panel-default" style="text-align: center">
            <div style="text-align:center">
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline" ng-submit="$ctrl.search($ctrl.filter)">
                        <div class="form-group">
                            <label class="control-label sr-only">Search</label>
                            <input type="text" class="form-control" ng-model="$ctrl.filter.search">
                        </div>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-md-4">

                    <p class="alert-danger alert" ng-if="$ctrl.error.length">
                      {{$ctrl.error}}
                    </p>
                     <rzslider rz-slider-model="$ctrl.slider.minValue"
                             rz-slider-high="$ctrl.slider.maxValue"
                              rz-slider-options="$ctrl.slider.options">
                             </rzslider>
                     <input type="button" value="Search" ng-click="$ctrl.Search()"/></br>

                </div>

                <div class="col-sm-6 col-sm-4  " ng-repeat="price in $ctrl.findAll track by $index ">

                    <div class="thumbnail boxModel hover01 column">
                        <figure>
                            <p ng-repeat="img in price.items track by $index">
                                <img ng-src="{{img.imageUrl}}"/>
                            </p>
                        </figure>
                        <h4 class="chitiet"><a data-ui-sref="detail({id: product.id})">Xem Chi Tiết</a></h4>
                        <div class=" caption ">
                            <h3 class="id"><span><a class="myfont"
                                                    data-ui-sref="detail({id: product.id})">{{price.name}}</a></span>
                            </h3>
                            <p class="money">{{price.price | currency}}</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div>
    </div>
    </div>
</div>
