        <h3>Login Page</h3>

        <form  name="loginForm" ng-submit="$ctrl.SendLogin(loginForm.$valid)" class="form">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="$ctrl.login.username"
                     placeholder="username" required=""/>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" ng-model="$ctrl.login.password"
                    placeholder="password" required=""/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>

            </div>
 </form>
